.side-bar {
  height: 100vh;
  overflow-y: scroll;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  background-color: $white-2;
}

.side-bar--extend {
  width: 300px;
  overflow-y: scroll;
}

.side-bar__item {
  margin: 4px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 700;
  color: $gray-7;
  &:hover {
    background-color: $gray-1;
    .side-bar__item__icons {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.side-bar__item__icons {
  opacity: 0;
  pointer-events: none;
  .icon {
    font-size: 1em;
    padding: 2px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $gray-2;
    }
  }
}

.side-bar__item--active {
  background-color: $gray-2;
  color: $gray-9;
}

.side-bar__item--github {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0.6;
}
