.slate-editable {
  width: 100%;
  max-width: 720px;
  min-width: 200px;
  margin: auto;
  padding: 4vw;
  box-sizing: border-box;
  outline: unset;
  background-color: $white-1;
}

.slate-element-selected {
  background-color: $blue-active-bg;
  border-radius: 6px;
  .slate-element-selected {
    background-color: unset;
    border-radius: unset;
  }
}

.slate-editable-footer {
  height: 50vh;
  width: 100%;
}

.slate-element-paragraph {
  position: relative;
  padding: 0.2em 0;
}