.slate-editable {
  width: 100%;
  max-width: 720px;
  min-width: 200px;
  margin: auto;
  padding: 2px 4vw 2px;
  box-sizing: border-box;
  outline: unset;
  // background-color: $white-1;
}

.slate-editable-after {
  height: 50vh;
  width: 100%;
  cursor: text;
}

.slate-editable-before {
  height: 3vw;
  width: 100%;
  cursor: text;
}

.slate-editable-tip {
  opacity: 0;
  text-align: center;
  font-size: 0.6em;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.slate-element-paragraph {
  position: relative;
  padding: 0.1em 0.2em;
  margin: 0.1em 0;
}
