.popover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: calc($zIndex-dialog + 1);
}

.popover-container {
  position: absolute;
  // top: -100vh;
  // left: -100vw;
  opacity: 0;
  z-index: calc($zIndex-dialog + 1);
  padding: 4px;
  max-height: 360px;
  overflow-y: scroll;
  background-color: $white-1;
  border-radius: 4px;
  box-shadow: $shadow-popover;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}
