.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.placeholder {
  opacity: 0.4;
}

.select-element {
  position: relative;
  &::after {
    @apply absolute inset-0 content-[''] rounded pointer-events-none;
    animation: fadeIn 0.1s ease-in-out forwards;
    background-color: rgb(59 130 246 / 0.1);
  }
}

.primary-text-input {
  @apply opacity-60 block border-none outline-none leading-7 rounded box-border w-full;
  transition: background 0.3s ease-in-out;
  padding: 2px 4px;
  font-weight: 600;
  border: 1.6px solid $gray-2;
  background: transparent;
  &:focus,
  &:hover,
  &:active {
    background: $gray-0;
    border-color: $gray-0;
  }
  &::placeholder {
    color: $gray-6;
  }

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.primary-file-input {
  @apply flex p-2 mt-2 rounded items-center cursor-pointer opacity-60;
  background: $gray-0;
  transition: background 0.3s ease-in-out;
  &:hover,
  &:active {
    background: $gray-1;
  }
  > input {
    display: none;
  }
}

.block-element-empty {
  @apply cursor-pointer my-4 rounded overflow-hidden;
  background: $gray-0;
  transition: background 0.3s ease-in-out;
  &:hover,
  &:active {
    background: $gray-0--hover;
  }
}
