.select-toolbar {
  height: 1.8rem;
  display: flex;
  padding: 0;
}

.toolbar-menu-group {
  display: flex;
  &:not(:last-child) {
    border-right: 1px solid $gray-1;
  }
}

.toolbar-menu-item {
  min-width: calc(1.8rem - 8px);
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  &:hover,
  &:active {
    background: $gray-0;
    opacity: 1;
  }
  &--active {
    color: $purple-1;
    opacity: 1;
  }

  &:only-child {
    padding: 0 0.4rem;
  }
  .icon-remove {
    color: $red-1;
  }
}

.toolbar-menu-item__right {
  font-size: 12px;
  transform: rotate(90deg);
  opacity: 0.6;
}
