.hover-toolbar {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  transform: translateX(-50px);
  //   background-color: blue;
}

.hover-toolbar-item {
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: $gray-0--hover;
  }
}

.hover-toolbar-side {
  width: 20px;
  height: inherit;
}
