.hover-toolbar {
  position: absolute;
  display: flex;
  align-items: center;
  transform: translate(-100%, -50%);
}

.hover-toolbar-wrapper {
  border-radius: 4px;
  gap: 4px;
  display: flex;
  transition: all 0.1s ease-in-out;
}

.hover-toolbar-item {
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  transition: background 0.3s ease;
  &:hover {
    background: $gray-0--hover;
  }
}

.hover-toolbar-side {
  width: 10px;
  height: inherit;
}
