.check-list-item {
  position: relative;
  margin: 0.1em 0;
}

.check-list-item--checked {
  .check-list-item__text {
    text-decoration: line-through;
    opacity: 0.6;
  }
}

.check-list-item__checkbox {
  vertical-align: middle;
  margin-left: 0.25em;
}

.check-list-item__text {
  margin-left: 0.5em;
  &:focus {
    outline: none;
  }
}

.check-list-item__placeholder {
  left: 1.8em;
}
