.toggle-list-item {
  position: relative;
  padding-inline-start: 2em;
  padding-inline-end: 1em;
  padding-block-start: 0.2em;
  padding-block-end: 0.2em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.toggle-list-item__content {
  min-height: 1em;
}

.toggle-list-item__trigger {
  position: absolute;
  left: 0.2em;
  top: 0.5em;
  width: 20px;
  user-select: none;
  color: $gray-6;

  .icon {
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.toggle-list-item__trigger-icon {
  border-radius: 4px;
  height: 20px;
  width: 20px;
  &:hover {
    background-color: $gray-0--hover;
  }
  &:active {
    background-color: $gray-1;
  }
}
