.hover-toolbar {
  height: 1.8rem;
  display: flex;
  padding: 0;
}

.toolbar-menu-group {
  display: flex;
  &:not(:last-child) {
    border-right: 1px solid #333;
  }
}

.toolbar-menu-item {
  min-width: calc(1.8rem - 8px);
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover,
  &:active {
    background: #333;
    opacity: 1;
  }
  &--active {
    color: #3c46ff;
  }

  &:only-child {
    padding: 0 0.4rem;
  }
}
@media (prefers-color-scheme: light) {
  .toolbar-menu-group {
    &:not(:last-child) {
      border-right: 1px solid #efefef;
    }
  }
  .toolbar-menu-item {
    &:hover,
    &:active {
      background: #efefef;
    }
  }
}
