.slate-editable {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  max-width: 720px;
  margin: auto;
  padding: 4vw;
  box-sizing: border-box;
  outline: unset;
  background-color: $white-1;
}

.slate-element-selected {
  background-color: $blue-active-bg;
  border-radius: 6px;
  .slate-element-selected {
    background-color: unset;
    border-radius: unset;
  }
}
