.slate-editable {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  max-width: 720px;
  margin: auto;
  padding: 4vw;
  box-sizing: border-box;
  outline: unset;
  background-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  .slate-editable {
    background-color: #f9f9f9;
  }
}
